<odoo>
    <menuitem
        id="root_menu"
        name="Sale Order Discount"
        sequence="10"/>

    <menuitem
        id="product_volume_discount_menu"
        name="Volume Discount"
        parent="root_menu"/>

    <menuitem
        id="discount_history_tracking_menu"
        name="Discount History"
        parent="root_menu"/>
</odoo>